/* import fonts from fonts.css file*/
@import url(./fonts.css);

/*import variables*/
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);

/*start navigation*/
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
  
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
    background-color: hsl(147, 44%, 95%);
    filter: brightness(0.9);
    
    
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 700 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--primary-color2);

}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

/*end navigation*/


/*Start calculator format area*/

.about-area .paragraph>p{
    padding: .4rem 0;
    color: var(--text-color);
    font-size: large ;
}